#id_StorageId {
	display: none;
}
div[data-role="start-storage-selector"]
{
	margin-bottom: 8px;
}

.locked-field textarea {
	pointer-events: none;
}

.locked-field [data-role="bp-selector-button"] {
	pointer-events: none;
}

.bizproc-write-activity__outer-block {
	border: 1px solid var(--ui-color-base-20, #e0e2e4);
	border-radius: var(--ui-border-radius-lg, 12px);
	background: var(--ui-color-background-primary, #fff);
	padding: 12px;
}

.bizproc-write-activity__fields-container {
	display: flex;
	flex-direction: column;
}

.bizproc-write-activity__field-row {
	display: flex;
	align-items: flex-start;
}

.bizproc-write-activity__field-row-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 0 4px;
}

.bizproc-write-activity__field-label {
	font-size: 13px;
	line-height: var(--ui-font-line-height-2xs, 14px);
	color: var(--ui-color-base-70, #acb2b9);
	margin-bottom: 4px;
}

.bizproc-write-activity__value-row {
	display: flex;
	align-items: center;
	gap: 4px;
}

.bizproc-write-activity__value-row > div:first-child {
	flex: 1;
	min-width: 0;
}

.bizproc-write-activity__outer-block .add-construction-field {
	font-size: 14px;
	line-height: normal;
	color: var(--ui-color-palette-gray-70);
	display: flex;
	align-items: center;
	cursor: pointer;
}

.bizproc-write-activity__outer-block .add-construction-field[hidden] {
	display: none;
}

.bizproc-write-activity__outer-block .bizproc-automation-popup-settings__condition-item_close {
	cursor: pointer;
	--ui-icon-set__icon-color: var(--ui-color-base-3);
}

.bizproc-write-activity__outer-block .create-field-card {
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	margin-top: 12px;
	justify-content: center;
	padding: 5px 0;
	width: 100%;
}

.bizproc-write-activity__hidden {
	display: none;
}

.bizproc-write-activity__icon-plus {
	--ui-icon-set__icon-size: 20px;
	--ui-icon-set__icon-color: var(--ui-color-base-3);
}

.node-settings-edit-box .node-settings-add-item-button {
	width: 100%;
	display: flex;
	align-items: center;
	color: var(--ui-color-palette-gray-70);
	margin-bottom: 0;
	cursor: pointer;
	font-weight: 500;
	font-size: 13px;
	margin-left: 4px;
	text-decoration: none;
	margin-top: 0;
}

.node-settings-edit-box .node-settings-add-item-button[hidden] {
	display: none;
}

.bizproc-write-activity__field {
	margin-bottom: 10px;
}

.bizproc-write-activity__value-row .bizproc-automation-popup-settings__condition-item_close + .bizproc-automation-popup-settings__condition-item_close {
	margin-left: -4px;
}

.bizproc-write-activity__field-row.dynamic {
	align-items: center;
}
